

 <md-list>
  <h1 md-subheader>{{'fmf'|translate}}</h1>
  <h2 md-subheader>{{'person'|translate}}</h2>
  <md-list-item style="width: 500px;">
    <md-icon md-list-icon>person</md-icon>
    <h4 md-line>{{dataPerson.name}}</h4>
    <p md-line> {{dataPerson.height}} </p>
    <p md-line> {{dataPerson.hair_color}} </p>
    <p md-line> {{dataPerson.skin_color}} </p>
    <p md-line> {{dataPerson.eye_color}} </p>
    <p md-line> {{dataPerson.birth_year}} </p>
    <p md-line> {{dataPerson.gender}} </p>
  </md-list-item>
</md-list>