<md-sidenav-container style="height: 100%">
  <md-sidenav #sidenav mode="push">
    <md-nav-list>
      <a md-list-item [routerLink]="['/panel']" (click)="sidenav.close()">{{'fmfMenu'|translate}}</a>
      <!--
      <a md-list-item [routerLink]="['/shipment-plans']" (click)="sidenav.close()">Carga de embarques</a>
      <a md-list-item [routerLink]="['/CausesSubcauses']" (click)="sidenav.close()">Causas y Subcausas</a>
      <a md-list-item [routerLink]="['/on-road-services']" (click)="sidenav.close()" >{{'on_road_services'|translate}}</a>
    -->
    </md-nav-list>
  </md-sidenav>
  <md-toolbar color="primary">
    <button md-icon-button (click)="sidenav.toggle()"><md-icon class="md-24" >menu</md-icon></button>
  </md-toolbar>

  <div class="container-fluid" style="padding: 0">
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</md-sidenav-container>