<div class="container-fluid" style="margin: 0px 30px 30px 30px">
  <label class="title-page" style="margin-top: 10px;">{{'persons'|translate}}</label>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">


        <table mdSort (mdSortChange)="sortData($event)">
          <tr>
            <th md-sort-header="name">Name</th>
            <th md-sort-header="skin_color">skin_color</th>
            <th md-sort-header="mass">mass</th>
            <th md-sort-header="hair_color">hair_color</th>
            <th md-sort-header="gender">gender</th>
            <th md-sort-header="eye_color">eye_color</th>
            <th md-sort-header="birth_year">birth_year</th>
          </tr>
        
          <tr *ngFor="let person of dataSource.data">
            <td style="width: 450px">{{person.name}}</td>
            <td style="width: 300px">{{person.skin_color}}</td>
            <td style="width: 150px">{{person.mass}}</td>
            <td style="width: 300px">{{person.hair_color}}</td>
            <td style="width: 300px">{{person.gender}}</td>
            <td style="width: 300px">{{person.eye_color}}</td>
            <td style="width: 300px">{{person.birth_year}}</td>
          </tr>
          
        </table>

      </div>
  </div>
  </div>
</div>

